body {
	font-family:calibri;
}

* {
	margin: 0px;
}

h1 {
	text-align:center;
	font-size:24px;
}

h2 {
	border-bottom: 1px solid #71A4B3;
	font-size:20px;
	margin-top:10px;
	margin-bottom:5px;
}

p {
	text-align:justify;
	text-indent:20px;
}

#page {
	width: 960px;
	margin: 10px auto 10px auto;
	border: 1px solid #71A4B3;
	height: 100%;
	background-color: #F1F9FB;
	border-radius: 7px;
	overflow: hidden;
}

#header {
	margin-bottom: 20px;
}

#banner {
	padding: 20px;
	font-size: 60px;
	border-bottom: 1px solid #B9D4DC;
	/*
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVhYTljZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(90,169,206,1) 0%, rgba(125,185,232,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,169,206,1)), color-stop(100%,rgba(125,185,232,0)));
	background: -webkit-linear-gradient(top,  rgba(90,169,206,1) 0%,rgba(125,185,232,0) 100%);
	background: -o-linear-gradient(top,  rgba(90,169,206,1) 0%,rgba(125,185,232,0) 100%);
	background: -ms-linear-gradient(top,  rgba(90,169,206,1) 0%,rgba(125,185,232,0) 100%);
	background: linear-gradient(to bottom,  rgba(90,169,206,1) 0%,rgba(125,185,232,0) 100%);*/
	background-color:#5AA9CE;
}

#menu {
	text-align:center;
	border-bottom: 1px solid #71A4B3;
	padding-bottom:1px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVhYTljZSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzVhYTljZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(90,169,206,0) 0%, rgba(90,169,206,1) 50%, rgba(125,185,232,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,169,206,0)), color-stop(50%,rgba(90,169,206,1)), color-stop(100%,rgba(125,185,232,0)));
	background: -webkit-linear-gradient(top,  rgba(90,169,206,0) 0%,rgba(90,169,206,1) 50%,rgba(125,185,232,0) 100%);
	background: -o-linear-gradient(top,  rgba(90,169,206,0) 0%,rgba(90,169,206,1) 50%,rgba(125,185,232,0) 100%);
	background: -ms-linear-gradient(top,  rgba(90,169,206,0) 0%,rgba(90,169,206,1) 50%,rgba(125,185,232,0) 100%);
	background: linear-gradient(to bottom,  rgba(90,169,206,0) 0%,rgba(90,169,206,1) 50%,rgba(125,185,232,0) 100%);
	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVhYTljZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(90,169,206,1) 0%, rgba(125,185,232,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,169,206,1)), color-stop(100%,rgba(125,185,232,0)));
	background: -webkit-linear-gradient(top,  rgba(90,169,206,1) 0%,rgba(125,185,232,0) 100%);
	background: -o-linear-gradient(top,  rgba(90,169,206,1) 0%,rgba(125,185,232,0) 100%);
	background: -ms-linear-gradient(top,  rgba(90,169,206,1) 0%,rgba(125,185,232,0) 100%);
	background: linear-gradient(to bottom,  rgba(90,169,206,1) 0%,rgba(125,185,232,0) 100%);
}

#menu span {
	diplay:inline-block;
	width:auto;
	margin-right:15px;
	margin-left:15px;
}

#menu span a {
	color:black;
	text-decoration:none;
}

#menu span a:hover {
	color:#3252F2;
	text-decoration:underline;
}

#content {
	padding:40px;
}

#footer {
	margin-top: 20px;
	padding: 5px;
	font-size: 13px;
	border-top: 1px solid #71A4B3;
	text-align: center;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YWE5Y2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(90,169,206,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,0)), color-stop(100%,rgba(90,169,206,1)));
	background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(90,169,206,1) 100%);
	background: -o-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(90,169,206,1) 100%);
	background: -ms-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(90,169,206,1) 100%);
	background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(90,169,206,1) 100%);

}